<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome to Custom Webpack Config Boilerplate</title>
  </head>
  <body>
    <div class="container demo">
      <img src="../images/icon-darth-vader.svg" alt="Darth Vader"/ class="demo__img">
      <h1 class="demo__title">Webpack Boilerplate Demo</h1>
      <button class="demo__btn" id="btn">CLICK</button>
    </div>
  </body>
</html>
