/* ------------------------------------
 *  Color
 * --------------------------------- */
 $black: #000;
 $white: #fff;
 $gray: #fafafa;
 $green: #28b351;

/* ------------------------------------
 *  Font
 * --------------------------------- */
 $weight-300: 300;
 $weight-400: 400;
 $weight-500: 500;
 $weight-700: 700;

 /* ------------------------------------
 *  Inner Wrapper
 * --------------------------------- */
$inner-wrapper-l: 1920px;
$inner-wrapper-m: 1080px;
